/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@font-face {
    font-family: "Open sans";
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open sans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open sans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
    font-family: Arial, "Open sans", sans-serif;
}
body.lock{
    overflow: hidden;
  }
.wraper{
	position: relative;
}
.header_top_menu {
  display: flex;
  align-items: center;
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header_top_menu:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header_top_menu_logo_box {
  flex: 0 1 85%;
  background-color: white;
  height: 100px;
  padding-left: 100px;
}
.header_top_menu_logo{
	width: 300px;
}
.header_top_menu_content_box {
  background-color: black;
  flex: 0 1 15%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 220px;
  padding-left: 20px;
}
.header_top_menu_content_box span{
  display: block;
  margin-right: 70px;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 400px;
  font-size: 25px;
  position: relative;
  z-index: 12;
}
 .header__menu {
    margin-left: 0;
}
 .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 10;
    cursor: pointer;
  }
  .header__burger span{
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color:white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    z-index: 11;
  }
  .header__burger:before{
    top: 0;
  }
  .header__burger:after{
    bottom: 0;
  }
  .header__link.active{
    top: 0px;
  }
  .header__burger.active span{
    transform: scale(0);
  }
  .header__burger.active:before{
    transform:rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after{
    transform:rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 410px;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color:black;
    padding: 200px 10px 20px 10px;
  }
  .header__menu.active{
    right: 0px;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li{
    margin: 0px 0px 35px 0px;
  }
  .header__link {
  	font-family: 'Oswald', sans-serif;
  	font-weight: 300;
    font-size: 28px;
    color:white;
  }
  .header__link:hover{
    width:100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
   /*==============================HEADER==================================*/
 /* Основные стили */

.testimonials__.slick-slider{
    min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
/* Слайд */
.slick-slide{}
/* Слайд активный */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
.slider{
 position: relative;
}
/* Стрелка */
.slider .slick-arrow{
  width: 140px;
  height: 105px;
  background-color: white;
  position: absolute;
  z-index: 3;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  opacity: 0.7;
}

/* Стрелка влево */
.slider .slick-arrow.slick-prev{
  background-image: url(../img/arrow.svg);
  transform: rotate(180deg);
  right: 240px;
}
.slider .slick-arrow.slick-prev:hover{
  background-color: #e8e8e8;
}
.slider .slick-arrow.slick-prev::before{
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #e8e8e8;
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  background-image: url(../img/arrow.svg);
 
  right: 100px;
 }
.slider .slick-arrow.slick-next:hover{
  background-color: #e8e8e8;
 }

/* Стрелка не активная */
.slick-arrow.slick-disabled{}

/* Точки */
.slick-dots{}
.slick-dots li{}
.slick-dots button{}
.slider-item {
  position: relative;
}
.slider-item::before {
    content: "";
    background-color:black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5; 
}
.slider_box_content {
    position: absolute;
    z-index: 10;
}
.slider_img {
    display: block;
    overflow: hidden;
    visibility: inherit;
}
.slider_box_content_title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    visibility: visible;
    text-align: inherit;
    line-height: 90px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 50px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.slider_box_content_title span{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: red;
  margin-left: 10px;
} 
.slider_box_content_text {
    color: white;
    font-family: Arial, "Open sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.09px;
    margin-bottom: 39px;
}
.slider__item {
   padding: 0px 15px;
}
.slider__item img{
    max-width: 100%;
}
.slider-container {

}


/*==============================SLIDER==================================*/
.form {
    width: 420px;
    margin: 0 auto;
}
label {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: Arial, "Open sans", sans-serif;
    margin-bottom: 10px;
}

.form__input {
    display: block;
    width: 420px;
    height: 48px;
    background-color: #ffffff;
    margin-bottom: 30px;
    border:1px solid black;
    padding: 18px 20px;
}
.form__button{
    width: 420px;
    height: 54px;
    background-color: red;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.form__button:hover{
    border:solid 1px;
    background-color: #dc143c;
}
 

 .slider_form_box .mfp-close{
  width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial,Baskerville,monospace;
}

 /*==============================POP UP FORM==================================*/
}
.btn {
	transition: all 0.2s;
}

/* buttons */
.btn-box {
	overflow: hidden;
}
.btn {
    display: block;
    font-family: 'Oswald', sans-serif;
    width: 280px;
    height: 80px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    padding:25px 60px;
 }

.btn-default {
     background-color: #dc143c;
    }
.btn-default:hover {
    background-color: #fc5c65;
    }
    /*==============================BUTTON==================================*/
  .our_procedure {
  background-color: rgb(242, 242, 242);
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
.our_procedure_container {
  position: relative;
  padding: 100px 0px 100px 0px;
}
.title{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: black;
}
.border{
  width: 100px;
  height: 4px;
  background: #fc5c65;
  margin-bottom: 10px;
}

.our_procedure_card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our_procedure_cards {
   width:49%;
   height: 307px;
   position: relative;
   cursor: pointer;
}




.our_procedure_cards::before{
  display: block;
    content: "";
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    top:10px;
    bottom:10px;
    width:0px;
    left: 50%;
    position: absolute;
    -webkit-transition: width .8s ease-in-out;
    -moz--transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 15;
}

.our_procedure_cards::after{
  display: block;
    content: "";
    border-left: 1px solid white;
    border-right: 1px solid white;
    left:10px;
    right:10px;
    height:0px;
    top: 50%;
    position: absolute;
    -webkit-transition: height .8s ease-in-out;
    -moz--transition: height .8s ease-in-out;
    transition: height .8s ease-in-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 15;
}

.our_procedure_cards:hover::before,
.our_procedure_cards:focus::before{
  width: 550px;
}

.our_procedure_cards:hover::after,
.our_procedure_cards:focus::after{
  height: 287px;
}


.our_procedure_content {
   display: block;
   width:100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   
}
.woman{
  background-image: url(../img/lasr11.jpg);
}
.man{
   background-image: url(../img/laser8.JPG);
}
.our_procedure_content:hover{
  /*-ms-transform: scale(1.5,1.3);
  -webkit-transform: scale(1.5,1.3);
  -o-transform: scale(1.5,1.3);
  -moz-transform: scale(1.5,1.3);
  transform: scale(1.1);
    -webkit-transition: border-color 0.5s linear;*/
    transition: transform 0.5s linear;
}

.our_procedure_content::before {
    content: "";
    background-color:black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
}

.our_procedure_title  {
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color:white;
  position: relative;
  z-index: 2;
  opacity: 0.8;
  text-transform: uppercase;
}


.why_with_us_{
    background-color:#fc5c65;
}
.why_with_us_container{
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.why_with_us_container_box{
  
}
 .border.why_with_us_border{
  background: rgb(242, 242, 242);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.why_with_us_title{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.why_whit_us_content_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.why_whit_us_container_box_card{
  width: 32%;
}

.why_whit_us_container_box_card_title{
  display: flex;
   font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
  justify-content: flex-start;
}
.why_whit_us_container_box_card p {
  font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 24px;
   color: white;
}


.epilation_zones{
padding-top: 100px;
padding-bottom: 50px;
}

.tab.active { 
  color: #fc5c65; 
  opacity: 1;
  border-bottom: 1px solid #fc5c65;
  padding-bottom: 10px;
}
.tab.active:hover { 
  border-bottom: 0px solid #fc5c65;
}

.tab_content_box_container_box{
  width: 100%;
  display: flex;
  justify-content: center;
}
.removal_zones_content{
  padding-top: 80px;
  

}
.removal_zones_content_price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60px;
  margin-right: 10px;
}
.removal_zones_content_price span{
  display: block;
  font-size: 50px;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  color: red;
  white-space: nowrap;
  transform: rotate(270deg);
}
.removal_zones_text {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
  color: black;
  width: 300px;
  position: relative;
  letter-spacing: 2px;
 padding-left: 30px;
}
.removal_zones_text::before{
content: '';
width: 24px;
height: 24px;
background-image: url(../img/ok.svg);
background-repeat: no-repeat;
background-size: 24px 24px;
position: absolute;
top: 5px;
left:0px;
}
.removal_zones_content_img{
 position: relative;
 z-index: 16;
}

.tab_item {
  display: flex;
  width: 70%;
}

.tabs {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
   /* background-color: rgb(242, 242, 242);*/
     padding-top: 90px;
}
.select-container{
display: none;
margin-bottom: 15px;
}

.select {
  width: 290px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.select__head {
  max-width: 100%;
  height: 48px;
  font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 30px;
  color:white;
  line-height: 30px;
  letter-spacing: -0.07px;
  background-color:  #fc5c65;
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative;
  text-align: center;
}

.select__head::after {
  width: 48px;
  height: 48px;
  background: url(../img/figure.png) no-repeat center;
  position: absolute;
  right: 0px;
  top:-25px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  content: '';
  display: block;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.select__head.open::after {
  -webkit-transform: translateY(50%) rotate(180deg);
      -ms-transform: translateY(50%) rotate(180deg);
          transform: translateY(50%) rotate(180deg);
}

.select__list {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  scrollbar-color: dark;
  scrollbar-width: thin;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #F8F9FA;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #D9D9D9;
}

.select__list .select__item {
padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  list-style-type: none;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

.tab {
  display: block;
  white-space: nowrap;
  opacity: 0.4;
  text-align: center;
  position: relative;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 0px;
}

.tab span{
  color: red
}
.tab:hover{
  opacity: 1;
  color: #fc5c65;
}


.tab::after{
  display: block;
    content: "";
    border-bottom: 1px solid #fc5c65;
    bottom: 0px;
    width:0px;
    left: 50%;
    position: absolute;
    -webkit-transition: width .8s ease-in-out;
    -moz--transition: width .8s ease-in-out;
    transition: width .8s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 17;
    opacity: 0.4
}

.tab:hover::after,
.tab:focus::after{
  width: 200px;
  opacity: 1;
}
.container-about {
    display: flex;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
     background-color: rgb(242, 242, 242);
}

    
.about-image {
 height: 100%;
}
.column_img {
flex: 0 0 50%;
 -webkit-box-flex: 0;
-ms-flex: 0 0 50%;
}

.column_content {
  flex: 0 0 50%;
   -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  background-color: rgb(242, 242, 242);
}

.about-content {
    padding: 160px 20px 160px 80px;  
}
.about-content-title {
   color:black;
   font-family: 'Oswald', sans-serif;
   font-size: 30px;
   font-weight: 400;
   line-height: 40px;
   text-transform: uppercase;
   letter-spacing: -0.75px;
   margin-bottom: 28px;
   letter-spacing: 1px;
}

.about-content-text {
   color: black;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 33px;
}

#more{
  display: none;
}


.about-content-item {
   color: black;
   border-bottom:1px solid black;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   font-weight: 300;
   text-transform: uppercase;
   padding-bottom: 17px;
   cursor: pointer;
}
.advertising{
  background-color: #fc5c65;
}
.advertising_container{
  padding-top: 50px;
  padding-bottom: 50px;
}
.advertising_box{
  text-align: center;
}

.advertising_title{
  font-size: 50px;
  font-family: 'Oswald', sans-serif;
   font-weight: 400;
   margin-bottom: 20px;
   color: white;
}

.advertising_content{
  font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   margin-bottom: 50px;
   color: white;
}

.advertising_button{
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(242, 242, 242);
  color: black;
  border-radius: 40px;
  height: 60px;
  line-height: 0px;
}

.advertising_button:hover{
  background-color: grey;
  color: white;
}


.our_staf_container{
  padding-top: 50px;
  padding-bottom: 50px;
}

.our_staf_cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  
}
.our_staf_card{
margin-right: 20px;



}
.our_staf_card:last-child{
  margin-right: 0;
}
.our_staf_card_box{
  position: relative;
  width: 210px;
   margin-left: auto;
  margin-right: auto;
}


.our_staf_card_box:hover{
  transform: scale(1.1);
  transition: all 1s ease 0s;
}
.our_staf_card img{
  display: block;
  margin-bottom: 10px;
  
}


.our_staf_card span{
  text-align: center;
  display: block;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300px;
  font-size: 20px;
  line-height: 30px;
}

/* Стрелка */
.our_staf_cards .slick-arrow{
  width: 48px;
  height: 48px;
  z-index: 3;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: center center;
  opacity: 0.7;
 background-color: white;
 position: absolute;
 top: 100px;
}
/* Стрелка влево */
.our_staf_cards .slick-arrow.slick-prev{
  background-image: url(../img/back_arrow_5821.png);
  left: -10px;
}
/* Стрелка вправо */
.our_staf_cards .slick-arrow.slick-next {
  background-image: url(../img/back_arrow_5821.png);
  transform: rotate(180deg);
  right: -10px;
 }


.our_staf_cards .slick-arrow.slick-prev:hover{

}
.our_staf_cards .slick-arrow.slick-prev::before{
  content: "";
  display: block;
  width: 2px;
  height: 50px;
 
}
/
.our_staf_cards .slick-arrow.slick-next:hover{

 }
.gallery-section{
  background-color: rgb(242, 242, 242)
}

.gallery_container{
  padding-top: 50px;
  padding-bottom: 50px;
}



.galery_title{
  color: black;
}

/*.border{
  width: 180px;
  height: 4px;
 /* background: #333;
 background-color: 
  margin: 20px auto;
}
*/
 .gallery{
  display: flex;
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

 .image{
  display: block;
  width: 300px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.image:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  
}

.image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

 .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

.questions{
  

}
.container_questions {
  padding-bottom: 100px;
  padding-top: 100px;
}
.container_questions_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container_questions_picture{
  flex: 0 1 50%;
}

.container_questions_accordion{
  flex: 0 1 50%;
}

.questions__item{
  width: 100%;
  background-color: #f1f1f1;
  margin-bottom: 5px;
  position: relative;
}

.questions__title{
  cursor: pointer;
  padding: 18px 20px;
    color: black;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}
.questions__text{
  display: none;
  padding: 0px 20px 15px;
    color: black;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
}

.questions__title::before{
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #fc5c65;
  position: absolute;
  right: 15px;
  top: 30px;
  transition: all 0.3s ease 0s;
}
.questions__title::after{
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: #fc5c65;
  position: absolute;
  right: 15px;
  top: 30px;
  transform: rotate(90deg);
  transition: all 0.3s ease 0s;
}

.questions__title.active::after{
  transform: rotate(0deg);
}






  @media(max-width: 640px){
  .header_top_menu_logo_box {
   flex: 60%;
   padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .header_top_menu_logo{
	  width: 180px;
 }
  .header_top_menu_content_box {
   padding: 0px;
   flex: 40%;
   display: flex;
 }
  .header_top_menu_content_box span{
   font-size: 20px;
   margin-right: 0px;
   padding-right: 10px;
 }
.header__menu {
  margin-left: 0;
 }
.header__menu {
  width: 100%;
  padding-top: 100px;
  }
  /*==============================HEADER==================================*/
.slider-container {
 padding-top: 30px;
}
.slider-item {
  width: 100vh;
 /* height: 300px;*/
}
.slider_img {
 /* height: 300px;*/
}
.slider_box_content {
 width: 200px;
 left: 5%;
 top:20%;
}
.slider_box_content_title {
  line-height: 40px;
  font-size: 30px;
}
.slider_box_content_text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
/*==============================SLIDER==================================*/
.btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    padding:0px 0px;
    text-align: center;
 }

/*==============================POP UP FORM==================================*/
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.border{
  
}

.our_procedure_cards {
   width:100%;
   height: 307px;
   margin-bottom:20px;
   position: relative;
   cursor: pointer;

}
.our_procedure_cards:nth-child(2){
  margin-bottom:0px;
}
.our_procedure_cards:hover::before,
.our_procedure_cards:focus::before{
  width: 92%;
}
.our_procedure_container {
position: relative;
padding-top: 50px;
padding-bottom: 50px;
}
.why_whit_us_content_box{
  justify-content: center;
}

.why_whit_us_container_box_card{
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.why_whit_us_container_box_card:last-child{
  margin-bottom: 0px;
}
.why_whit_us_container_box_card_title{
 justify-content: center;
}
.why_whit_us_container_box_card p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.epilation_zones{
  padding-top: 50px;
}

.epilation_zones_border{
  margin-bottom: 20px;
  margin-top: 10px;
}

.tab_content_box_container_box{
  width: 100%;
  flex-wrap:wrap-reverse;
  padding-bottom: 60px;
  position: relative;
}
.tab_item{
 width: 100%;
 flex-direction: column-reverse;
}
.epilation_zones_btn{
  width: 200px;
  height:60px;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-top: 10px;
}
.removal_zones_content_price {
  width: 100%;
  text-align: center;
   
}
.removal_zones_content_price span{
  width: 100%;
  transform: rotate(0deg);
}
.removal_zones_content{
  padding-top: 10px;
  position: relative;
}
.removal_zones_content_img{
  width: 150px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.tabs{
width: 100%;
padding-top: 0px;
align-items: center;
display: none;
}
.tab{
width: 100%;
}
.select-container{
display: block;
}
.column_img {
flex: 0 0 100%;
 -webkit-box-flex: 0;
-ms-flex: 0 0 100%;
}

.column_content {
  flex: 0 0 100%;
   -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
}
.about-image{
  height: 100%;
}
.abuot_us_img{
  width: 100%;
}
.about-content {
  padding: 30px 20px 50px;
}

.our_staf_card_box{
  margin-top: 20px;
}
.our_staf_card{
margin-right: 0px;
}


/* Стрелка влево */
.our_staf_cards .slick-arrow.slick-prev{
  left: -10px;
}
/* Стрелка вправо */
.our_staf_cards .slick-arrow.slick-next {
  right: -10px;
 }


 .container_questions_picture{
  display: none;
}

.container_questions_accordion{
  flex: 0 1 100%;
}

  }
 @media (min-width: 641px) and (max-width: 960px){
  .header_top_menu{
    
  }
 .header_top_menu_logo_box {
   padding-left: 20px;
}
.header_top_menu_logo{
  width: 200px;
  height: 80px;
}
.header_top_menu_content_box {
}
.header__menu {
  padding-top: 150px;
  width: 300px;
  }
.header_top_menu_content_box {
  padding-right: 100px;
}
  /*==============================HEADER==================================*/
.slider-container {
 padding-top: 50px;
}
.slider-item {
  height: 480px;
}
.slider_img {
  height: 480px;
}
.slider_box_content {
  left: 20px;
  top:100px;
}
.slider_box_content_title {
  line-height: 60px;
  font-size: 50px;
}
.slider .slick-arrow{
  width: 100px;
  height: 64px;
  bottom: 0px;
}
.slider .slick-arrow.slick-prev{
  right: 100px;
}
.slider .slick-arrow.slick-next {
  right: 0px;
 }
/*==============================SLIDER==================================*/
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.border{
  
}

.our_procedure_cards {
   width:49%;
   height: 307px;
   
   position: relative;
   cursor: pointer;

}
.our_procedure_cards:nth-child(2){

}
.our_procedure_cards:hover::before,
.our_procedure_cards:focus::before{
  width: 92%;
}
.our_procedure_container {
position: relative;
padding-top: 50px;
padding-bottom: 50px;

}
.why_whit_us_content_box{
  justify-content: center;
}
.why_whit_us_container_box_card{
  margin-bottom: 20px;
  margin-right: 0px;
  width: 100%;
  
  
}
.why_whit_us_container_box_card:last-child{
  margin-bottom: 0px;
}
.why_whit_us_container_box_card_title{
 justify-content: center;
}
.why_whit_us_container_box_card p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.epilation_zones{
  padding-top: 50px;
}

.epilation_zones_border{
  margin-bottom: 20px;
  margin-top: 10px;
}

.tab_content_box_container_box{
  width: 100%;
  flex-wrap:wrap-reverse;
  padding-bottom: 60px;
  position: relative;
}
.tab_item{
 width: 100%;
 flex-direction: column-reverse;
 padding-bottom: 20px;
}
.tabs{
width: 100%;
padding-top: 0px;
align-items: center;
display: none;
}
.select-container{
display: block;
}

.epilation_zones_btn{
  position: absolute;
  bottom: 0;
}
.removal_zones_content_price {
  width: 100%;
  text-align: center;
   
}
.removal_zones_content_price span{
  width: 100%;
  transform: rotate(0deg);
}
.removal_zones_content{
  padding-top: 10px;
  position: relative;
}
.removal_zones_content_img{
  width: 250px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
}
.tabs{
width: 100%;
padding-top: 0px;
align-items: center;
}
.tab{
width: 100%;
}
.column_img {
flex: 0 0 100%;
 -webkit-box-flex: 0;
-ms-flex: 0 0 100%;
}

.column_content {
  flex: 0 0 100%;
   -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
}
.about-image{
  height: 100%;
}
.abuot_us_img{
  width: 100%;
}
.about-content {
  padding: 30px 20px 50px;
}



.our_staf_card{
margin-right: 0px;
}
/* Стрелка влево */
.our_staf_cards .slick-arrow.slick-prev{
  left: -10px;
}
/* Стрелка вправо */
.our_staf_cards .slick-arrow.slick-next {
  right: -10px;
 }

  }
 @media (min-width: 961px){
.slider_box_content {
   width: 500px;
   left: 13%;
   top:25%;
}
.slider-item {
  
}
.slider_img {
    height: 100vh;
}
.slider .slick-arrow{
   bottom: 0px;
}
/*==============================SLIDER==================================*/

.top_social_container_left {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9rem 0 0 1.6em;
    z-index: 3;
}
 .top_socials_container_left_link {
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    color:  #c0bebe;
    transform: rotate(90deg);
    margin-bottom: 150px;
}
  .top_socials_container_left_link:hover{
    color:black;
}
/*==============================top_socials_container_left==================================*/
  .top_social_container_right {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9rem 0 0 1.6em;
    z-index: 3;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.tab {
  color:black;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 40px;
}

.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }

    .ibg img{
    width: 0px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.advertising_title{
  margin-bottom: 50px;
}
.our_staf_container{
  padding-top: 100px;
  padding-bottom: 100px;
}



.gallery_container{
  padding-top: 100px;
  padding-bottom: 100px;
}
/*==============================top_socials_container_right==================================*/
}
@media (min-width: 1150px){

.our_staf_cards .slick-arrow.slick-prev{
  left: -80px;
}
.our_staf_cards .slick-arrow.slick-next {
  right: -60px;
 }
}

